* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --basic: ;
}

main {
    background-color: rgba(8,59,76,255);
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #fff;
    text-align: center;
}

div#container_number {    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 30px;
    width: 80%;
    align-items: center;
    margin: 0 auto;
    padding: 50px 0;
}

div#container_number > p{
    padding: 30px 0;
    text-align: center;
}

.basic {
    background-color: rgb(19, 137, 178);
}

.fizz {
    background-color: rgb(11, 214, 161);
}

.buzz {
    background-color: rgb(255, 209, 102);
}

.fizzbuzz {
    background-color: rgb(240, 70, 111);
} 

/* MEDIA QUERY PER DISPOSITIVI > 460px */
@media screen and (min-width: 460px) {
    h1 {
        font-size: 4em;
    }
}